body {
    display: grid;
    grid-template-areas: 
    'head'
    'body'
    'footer';
}

.head {
    grid-area: head;
}
div {
    grid-area: div;
    background: red;
    
}

#Gameboard {
    background: blue;
    grid-area: body;
    display: grid;
    grid-template-areas: 
        'div div div div div'
        'div div div div div'
        'div div div div div'
        'div div div div div'
        'div div div div div'
        'div div div div div'
    ;
}

