body {
    display: grid;
    grid-template-areas: 
    'head'
    'body'
    'footer';
}

.head {
    grid-area: head;
}
/* div {
     grid-area: div; 
    background: red;
    width: auto;
    height: auto;
    margin: 10px 10px;
    padding: 10px 10px;
    text-align: center;
    overflow-wrap: break-word;   
} */

#Gameboard {
    width: auto;
    margin: auto;
    background: #060CE9;
    font-family: Helvetica;
    font-weight: 900;
    font-size: 40px;
    color: #d4af37;
    text-align: justify;
    grid-area: body;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 100px 100px 100px 100px 100px;
}


.catagory {
    /* grid-area: fivehundred; */
    background: #060CE9;
    width: auto;
    height: auto;
    border: 2px solid black;
    padding: 10px 10px;
    text-align: center;
    overflow-wrap: break-word;  
}
.onehundred {
    /* grid-area: onehundred; */
    background: #060CE9;
    border: 2px solid black;
    width: auto;
    height: auto;
    padding: 10px 10px;
    text-align: center;
    overflow-wrap: break-word;  

}

.twohundred {
    /* grid-area: twohundred; */
    background: #060CE9;
    border: 2px solid black;
    width: auto;
    height: auto;
    padding: 10px 10px;
    text-align: center;
    overflow-wrap: break-word;
}

.threehundred {
    /* grid-area: threehundred; */
    background: #060CE9;
    border: 2px solid black;
    width: auto;
    height: auto;
    padding: 10px 10px;
    text-align: center;
    overflow-wrap: break-word;
}

.fourhundred {
    /* grid-area: fourhundred; */
    background: #060CE9;
    border: 2px solid black;
    width: auto;
    height: auto;
    padding: 10px 10px;
    text-align: center;
    overflow-wrap: break-word;  
}

.fivehundred {
    /* grid-area: fivehundred; */
    background: #060CE9;
    border: 2px solid black;
    width: auto;
    height: auto;
    padding: 10px 10px;
    text-align: center;
    overflow-wrap: break-word;  
}

