body {
    display: grid;
    grid-template-areas: 
    'head'
    'body'
    'footer';
}

.head {
    grid-area: head;
}
div {
    grid-area: div;
    background: red;
    
}

.onehundred {
    grid-area: onehundred;

}

.twohundred {
    grid-area: twohundred;
}

.threehundred {
    grid-area: threehundred;
}

.fourhundred {
    grid-area: fourhundred;
}

.fivehundred {
    grid-area: fivehundred;
}
#Gameboard {
    background: blue;
    grid-area: body;
    display: grid;
    grid-template-areas: 
        'catagory catagory catagory catagory catagory'
        'onehundred onehundred onehundred onehundred onehundred'
        'twohundred twohundred twohundred twohundred twohundred'
        'threehundred threehundred threehundred threehundred threehundred'
        'fourhundred fourhundred fourhundred fourhundred fourhundred'
        'fivehundred fivehundred fivehundred fivehundred fivehundred'
    ;
}

